*{ /* Selector universal */
    background-color: #0c3674;
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
}

header{ /* Selector de tipo */
    text-align: center;
    margin-bottom: 50px;
}

section{ /* Selector de tipo */
    margin: 30px 5px; /* Margen sup-inf = 30px, margen izq-der = 5px */
}

a[href^="#"] { /* Selector de atributos: links internos que comiencen con # (links del <nav>) */
    margin: 5px;
    padding: 10px;
    background-color: #add8e611;
    border-radius: 10px; 
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

#mapas iframe{ /* Selector id(#mapas)-tipo(iframe) (mapas de google) */
    background-color: #add8e611;
    padding: 10px;
    width: 20rem;
    height: 20rem;
}

i[class^="fa-brands"] { /* Selector de atributos: tipo i con class que comiencen con fa-brands (íconos redes sociales) */
    font-size: x-large;
}

footer{ /* Selector de tipo */
    text-align: center;
}