/**---------------**/
/** MEDIA QUERIES **/
/**---------------**/

/* Smartphone */
@media only screen and (max-width: 768px) {
  body {
    grid-template-areas:  "header"
                          "index-pic"
                          "index-cont"
                          "carousel"
                          "about-head"
                          "about-cont"
                          "donate"
                          "points"
                          "form-head"
                          "form-cont"
                          "footer";
  }
  .menubar {
    /* !BURGER-MENU-HEADER */
  }
  .index__pic {
    margin-top: 100px;
  }
  .index__pic--styles {
    width: 40%;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    grid-template-areas:  "header header header"
                          "index-pic index-cont index-cont"
                          "carousel carousel carousel"
                          "about-cont about-cont about-head"
                          "donate donate donate"
                          "points points points"
                          "form-head form-cont form-cont"
                          "footer footer footer";
  }
  .menubar {
    /* !BURGER-MENU-HEADER */
  }
  .index {
    margin-top: 100px;
  }
  .index__pic--styles {
    padding: 50px;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  body {
    grid-template-areas:  "header header"
                          "index-pic index-cont"
                          "carousel carousel"
                          "about-cont about-head"
                          "donate donate"
                          "points points"
                          "form-head form-cont"
                          "footer footer";
  }
  .index {
    margin-top: 100px;
  }
  .index__pic--styles {
    width: 60%;
  }
}


/**-------------**/
/** HTML - BODY **/
/**-------------**/

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  display: grid;
  grid-gap: 0;
  background: linear-gradient(180deg, #e1e1e1 0%, #0c3674 100%);
}
.btn-menubar {
  margin-top: 100px;
}
body > section {
  padding: 20px 20px;
  text-align: center;
  background: #028484;
  color: #fff;
}
h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 21px;
}
p {
  margin: 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
}
strong {
  font-family: Helvetica;
  font-weight: 500;
  font-style: italic;
}

/**--------**/
/** HEADER **/
/**--------**/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100px;
  color: #fff;
  background: #0c3674;
  padding: 20px 0;
  text-align: center;
  gap: 20px;
  z-index: 100;
  grid-area: header;
}
.logo-container {
  width: 20%;
}
.logo-img {
  width: 90%;
}
.menubar {
  display: flex;
  width: 80%;
  justify-content: center;
}
/* Menú Inactivo */
.btn-menubar {
  display: inline-block;
  width: 17%;
  height: auto;
  color: #ffffffbf;
  font-weight: 300;
  font-size: 69%;
  background: linear-gradient(45deg, #0c3674 0%, #028484 100%);
  border: 1px solid #ffffffbf;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  padding: 14px 20px;
  box-shadow: 4px 4px 5px #00000033;
}
/* Menú Activo */
.btn-menubar:hover {
  background: #f29335;
  border: 1px solid #ffffff;
}

/**-------**/
/** INDEX **/
/**-------**/

.index__pic {
  width: 100%;
  display: flex;
  background: #e1e1e1;
  grid-area: index-pic;
}
.index__cont {
  width: 100%;
  display: flex;
  grid-area: index-cont;
}
.index__pic--styles,
.index__cont--styles {
  margin: auto;
  display: block;
}

/**----------**/
/** CARRUSEL **/
/**----------**/

.carousel {
  grid-area: carousel;
}

/**---------------**/
/** QUIENES SOMOS **/
/**---------------**/

.about__head {
  width: 100%;
  display: flex;
  color: #1b1a1a;
  background: #e1e1e1;
  grid-area: about-head;
}
.about__cont {
  width: 100%;
  display: flex;
  grid-area: about-cont;
}
.about__head--styles,
.about__cont--styles {
  margin: auto;
  display: block;
}


/**------------**/
/** DONACIONES **/
/**------------**/

.donate {
  grid-area: donate;
}


/**-------------------**/
/** PUNTOS DE ENTREGA **/
/**-------------------**/

.points {
  grid-area: points;
}


/**------------------------**/
/** FORMULARIO DE CONTACTO **/
/**------------------------**/

@media only screen and (min-width: 768px) {
  .form__cont--styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .form__cont--item {
    width: 100%;
  }
  .form__btn {
    margin: auto;
    padding-bottom: 1em;
    width: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .form__btn {
    margin: auto;
    padding-bottom: 1em;
    width: 348px;
  }
  .form__cont--subs {
    width: 100%;
    display: inline-block;
  }
  .form__cont--item {
    width: 45%;
  }
}
@keyframes slide-up2 {
  0% {
    transform: translateY(0.5em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes continuous-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 157, 9, 0.39),
      inset 0 0 5px rgba(255, 153, 0, 0.356), 0 2px 0 #000;
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 153, 0, 0.6),
      inset 0 0 10px rgba(255, 145, 0, 0.4), 0 2px 0 #000;
  }
}
@keyframes blur-load {
  0% {
    opacity: 0;
    filter: blur(0.2em);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.form__head {
  width: 100%;
  display: flex;
  color: #1b1a1a;
  background: #e1e1e1;
  align-items: center;
  grid-area: form-head;
}
.form__cont {
  width: 100%;
  display: flex;
  grid-area: form-cont;
}
.form__head--styles,
.form__cont--styles {
  margin: 0 auto;
  display: block;
}
.form__cont--styles {
  padding: 1.5em;
}
.form__cont--item,
.form__cont--textarea,
.form__cont--subs {
  opacity: 0;
}
.form__cont--item1 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form__cont--item2 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form__cont--item3 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form__cont--item4 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form__cont--item5 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form__cont--styles label {
  display: block;
  margin: 0.35em 0;
  color: #e1e1e1;
}
.form__cont--styles option,
.form__cont--styles select,
.form__cont--styles input,
.form__cont--textarea textarea {
  background: #1b1a1a;
  color: #ffe5c3;
}
.form__cont--styles input:not(.form__btn--styles),
.form__cont--styles select {
  padding: 0.625em 1em;
  width: 100%;
  outline: 0;
  margin-bottom: 1.25em;
  border-radius: 1.25em;
  border: 0;
}
.form__cont--textarea {
  width: 100%;
}
.form__cont--styles textarea {
  padding: 10px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0;
  font-size: 14px;
  height: 100px;
  resize: vertical;
}
#otro {
  margin-top: 30px;
}
.form__btn {
  margin: auto;
  padding-bottom: 1em;
  width: 100%;
}
.form__btn--styles {
  background: #0c0c0c;
  border: none;
  margin-top: 1em;
  font-size: 20px;
  padding: 0.5em;
  width: 100%;
}
.form__btn--styles {
  animation: 0.5s ease-out 0s 1 blur-load;
  border-radius: 2em;
  color: #e1e1e1;
  transition: 0.4s;
}
.form__btn--styles:hover {
  box-shadow: 0px 0px 10px #f29335;
  background: #f29335;
}
.form__cont--styles input:focus,
.form__cont--styles select:focus,
.form__cont--styles textarea:focus {
  animation: continuous-glow 800ms ease-out infinite alternate;
  box-shadow: 0 0 5px #f29335, inset 0 0 5px #f29335, 0 2px 0 #000;
  color: #ffe5c3;
}
/* Checkbox Subscripción */
.form__cont--subs input[type="checkbox"] + label:before {
  content: "";
  width: 26px;
  height: 26px;
  float: left;
  margin: 0.5em 0.5em;
  border-radius: 10px;
  background: #1b1a1a;
}
.form__cont--subs input[type="checkbox"]:checked + label:before {
  border-color: #f29335;
}
.form__cont--subs input[type="checkbox"]:checked + label:after {
  content: "";
  width: 12px;
  height: 6px;
  border: 4px solid #f29335;
  float: left;
  margin-left: -1.95em;
  border-right: 0;
  border-top: 0;
  margin-top: .85em;
  transform: rotate(-55deg);
}
.form__cont--subs input[type="checkbox"] {
  display: none;
}
.form__cont--subs input[type="checkbox"] + label {
  line-height: 1.5em;
  color: #e1e1e1;
  text-align: left;
}
.form__cont--subs label {
  display: block;
}


/**--------**/
/** FOOTER **/
/**--------**/

.footer {
  background: #1b1a1a;
  height: 100px;
  padding: 16px 0;
  text-align: center;
  color: #e1e1e1;
  grid-area: footer;
}
.social {
  display: flex;
  list-style: none;
  font-size: xx-large;
  justify-content: space-around;
  align-content: center;
  width: 120px;
  margin: 0 auto;
}
.social a {
  text-decoration: none;
}
.fa-brands {
  font-size: 32px;
  background: -webkit-linear-gradient(45deg, #0c3674 0%, #028484 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}








/* .main-header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.4rem;
}

.main-logo{
  color: black;
  font-size:32px;
  text-decoration:none;
}

.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all .2s linear;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
}

.main-nav.show{
  margin-left: 0;
}

.nav-links{
  background-color: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item{
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu{
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span{
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all .2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2){
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3){
  display: none;
}


@media screen and (min-width:768px) {
  .button-menu{
    display: none;
  }

  .main-logo{
    flex-basis: 30%;
  }

  .main-nav{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item{
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
} */