/* *MEDIA QUERIES* */

/* Smartphone media query */
@media only screen and (max-width: 767px) {
  body {
    grid-template-areas:  "header"
                          "index"
                          "about-h2"
                          "about-cont"
                          "part-h2"
                          "part-cont"
                          "donate-h2"
                          "donate-cont"
                          "points-h2"
                          "points-cont"
                          "form-h2"
                          "form-cont"
                          "footer";
  }
  .menubar {
    /* !BURGER-MENU-HEADER */
  }
}
/* Tablet media query */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    grid-template-areas:  "header header header"
                          "index index index"
                          "about-h2 about-cont about-cont"
                          "part-cont part-cont part-h2"
                          "donate-h2 donate-cont donate-cont"
                          "points-cont points-cont points-h2"
                          "form-h2 form-cont form-cont"
                          "footer footer footer";
  }
  .menubar {
    /* !BURGER-MENU-HEADER */
  }
}
/* Desktop media query */
@media only screen and (min-width: 1024px) {
  body {
    grid-template-areas:  "header header"
                          "index index"
                          "about-h2 about-cont"
                          "part-cont part-h2"
                          "donate-h2 donate-cont"
                          "points-cont points-h2"
                          "form-h2 form-cont"
                          "footer footer";
  }
}

/* *HTML - BODY* */

body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
  display: grid;
  grid-gap: 0;
  background: linear-gradient(180deg, #e1e1e1 0%, #0c3674 100%);
}

body > section {
  padding: 40px 0;
  text-align: center;
  background: #028484;
  color: #fff;
}


/* *HEADER* */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100px;
  color: #fff;
  background: #0c3674;
  padding: 20px 0;
  text-align: center;
  gap: 20px;
  z-index: 100;
  grid-area: header;
}
.logo-container {
  width: 20%;
}
.logo-img {
  width: 90%;
}
.menubar {
  display: flex;
  width: 80%;
  justify-content: center;
}
/* Menú Inactivo */
.btn-menubar {
  display: inline-block;
  width: 17%;
  height: auto;
  color: #ffffffbf;
  font-weight: 300;
  font-size: 69%;
  background: linear-gradient(45deg, #0c3674 0%, #028484 100%);
  border: 1px solid #ffffffbf;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  padding: 14px 20px;
  box-shadow: 4px 4px 5px #00000033;
}
/* Menú Activo */
.btn-menubar:hover {
  background: #f29335;
  border: 1px solid #ffffff;
}


/* *INDEX* */

.index {
  margin-top: 100px;
  grid-area: index;
}


/* *QUIENES SOMOS* */

.about-h2 {
  grid-area: about-h2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-cont {
  grid-area: about-cont;
}


/* *QUIERO SER PARTE* */

.part-h2 {
  grid-area: part-h2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part-cont {
  grid-area: part-cont;
}


/* *DONACIONES* */

.donate-h2 {
  grid-area: donate-h2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-cont {
  grid-area: donate-cont;
}


/* *PUNTOS DE ENTREGA* */

.points-h2 {
  grid-area: points-h2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.points-cont {
  grid-area: points-cont;
}
.points-cont iframe {
  margin: 10px 0px;
  background: #add8e611;
}


/* *FORMULARIO DE CONTACTO* */

@media only screen and (min-width: 572px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em 0;
    width: 100%;
  }
  .form-item {
    width: 45%;
  }
  .btn-container {
    margin: auto;
    padding-bottom: 1em;
    width: 45%;
  }
}
@media only screen and (min-width: 970px) {
  .contacto {
    padding: 8em 0;
    width: 100%;
  }
  .btn-container {
    margin: auto;
    padding-bottom: 1em;
    width: 348px;
  }
  .subscription-div {
    width: 45%;
  }
}
@keyframes slide-up2 {
  0% {
    transform: translateY(0.5em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes continuous-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 157, 9, 0.39),
      inset 0 0 5px rgba(255, 153, 0, 0.356), 0 2px 0 #000;
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 153, 0, 0.6),
      inset 0 0 10px rgba(255, 145, 0, 0.4), 0 2px 0 #000;
  }
}
@keyframes blur-load {
  0% {
    opacity: 0;
    filter: blur(0.2em);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.form {
  padding: 1.5em;
}
.form-item,
.textarea-div,
.subscription-div {
  opacity: 0;
}
.form-item1 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form-item2 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form-item3 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form-item4 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s 1 slide-up2;
  animation-fill-mode: forwards;
}
.form-item5 {
  animation: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s 1 slide-up2;
  animation-fill-mode: forwards;
}
.contacto form label {
  color: #e1e1e1;
}
.contacto option,
.contacto select,
.contacto input,
.textarea-div textarea {
  background: #1b1a1a;
  color: #ffe5c3;
}
.form-h2 {
  text-align: center;
  font-size: 28px;
  padding: 0;
  margin-bottom: 1.25em;
  grid-area: form-h2;
}
.form-cont {
  grid-area: form-cont;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto label {
  display: block;
  margin-bottom: 0.35em;
  margin-top: 0.35em;
}
.contacto input:not(.form-btn),
.contacto select {
  padding: 0.625em 1em;
  width: 100%;
  outline: 0;
  margin-bottom: 1.25em;
  border-radius: 1.25em;
  border: 0;
}
.textarea-div {
  width: 100%;
}
.contacto textarea {
  padding: 10px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0;
  font-size: 14px;
  height: 100px;
  resize: vertical;
}
.btn-container {
  margin: auto;
  padding-bottom: 1em;
}
.form-btn {
  background: #0c0c0c;
  border: none;
  margin-top: 1em;
  font-size: 20px;
  padding: 0.5em;
}
.btn-glow {
  animation: 0.5s ease-out 0s 1 blur-load;
  border-radius: 2em;
  color: #e1e1e1;
  transition: 0.4s;
}
.btn-glow:hover {
  box-shadow: 0px 0px 10px #f29335;
}
.form-btn:hover {
  background: #f29335;
}
.contacto input:focus,
.contacto select:focus,
.contacto textarea:focus {
  animation: continuous-glow 800ms ease-out infinite alternate;
  box-shadow: 0 0 5px #f29335, inset 0 0 5px #f29335, 0 2px 0 #000;
  color: #ffe5c3;
}
/* Checkbox Subscripción (.subscription) */
.subscription-div input[type="checkbox"] + label:before {
  content: "";
  width: 26px;
  height: 26px;
  float: left;
  margin: 0.5em 0.5em;
  border-radius: 10px;
  background: #1b1a1a;
}
.subscription-div input[type="checkbox"]:checked + label:before {
  border-color: #f29335;
}
.subscription-div input[type="checkbox"]:checked + label:after {
  content: "";
  width: 12px;
  height: 6px;
  border: 4px solid #f29335;
  float: left;
  margin-left: -1.95em;
  border-right: 0;
  border-top: 0;
  margin-top: 1em;
  transform: rotate(-55deg);
}
.subscription-div input[type="checkbox"] {
  display: none;
}
.subscription-div input[type="checkbox"] + label {
  line-height: 3em;
  color: #e1e1e1;
}


/* *FOOTER* */

.footer {
  background: #1b1a1a;
  height: 100px;
  padding: 16px 0;
  text-align: center;
  color: #e1e1e1;
  grid-area: footer;
}
.social {
  display: flex;
  list-style: none;
  font-size: xx-large;
  justify-content: space-around;
  align-content: center;
  width: 120px;
  margin: 0 auto;
}
.social a {
  text-decoration: none;
}
.fa-brands {
  font-size: 32px;
  background: -webkit-linear-gradient(45deg, #0c3674 0%, #028484 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}